body{
    background-color: #eeeeee;
    margin: 0 ;
    padding: 0;
    font-family: 'Plus Jakarta Sans',sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 450px;
}


/* Header */
header{
    background-color: #ffffff;
    color: black;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #cccccc 3px solid;
    
}
header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    margin: 0;
    padding: 0;
}

header .img_header{
    width: 100px;
}

/* contenedor */
.contenedor{
    display: flex;
    margin: auto;
    width: 80%;
    overflow: hidden;
    border-color: #000000;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* BARRA BUSCADORA*/
.search{
    float:right;
    margin:7px;
}
.search button{
    background-color: #E89F25;
    color: #f2f2f2;
    font-size: 8px;
    border: solid;
    cursor: pointer;
    width: 28%;
}
/* DROPDOWN MENU*/
.drowdown{
    float: right;
}

.dropdown-btn{
    background-color: #E89F25;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: relative;
    background-color: #f9f9f9;    
}

.dropdown-content a { 
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-btn{
    background-color: #401C00;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown:hover .dropdown-btn
{
    background-color: #401C00;
}

.logo_persona{
    width: 50px;
}
/* footer */
footer{
    background-color: #bbbbbb;
    padding: 20px;
    margin-top: 20px;
    color: #000000;
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 100px;
    font-size: 32;
}

.footer_titulo{
    margin: auto;
    width: 80%;
    overflow: hidden;
}

.footer_titulo b{
    color: #E89F25;
}

.footer_titulo aside{
    width: 50%;
    padding-right: 50px;
    margin-right: 50px;
    float: right;
    text-align: right;    
}

.redes_sociales img{
    width: 15%;
}

.footer_imng_center img{
    display: flex;
    align-items: center;
    width: 25%;
}

.footer_titulo nav{
    text-align: left;
    padding-left: 70%;
}

.footer_titulo aside p{
    text-align: left;
    padding-left: 70%;
}




/* media query */
@media only screen and (max-width: 768px){
    header{
        padding-bottom: 20px;
    }
    header #logo,
    {
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 25px;
    }
  