body{
    background-color: #ffff;
    margin: 0 ;
    padding: 0;
    font-family: 'Plus Jakarta Sans',sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 450px;
}
/* ordenes generales */
.contenedor{
    margin: auto;
    width: 80%;
    overflow: hidden;
}
ul{
    margin-top: 10PX;
    padding: 0;
}

hr{
    background-color: #dddddd;
    height: 2px;
}
.titulosomos{
    color: aliceblue;
    font-size: 30px;
    margin-bottom: 0;
}


/* Header */
header{
    background-color: #ffffff;
    color: black;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #cccccc 3px solid;
}
header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px;
}
header .dropdown{
    float: right
}
header #logo{
    float: left;
} 
header #logo h1{
    margin: 0;
}
header .marcado{
    color: #cccccc;
    font-weight: 100;
}

header .img_header{
    width: 15%;
}

.cuenta{
    float:right;
}


/* DROPDOWN MENU*/

.dropdown-btn{
    background-color: #E89F25;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;    
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.dropdown-content a { 
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-btn{
    background-color: #401C00;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown:hover .dropdown-btn
{
    background-color: #401C00;
}
/* footer */
footer{
    background-color: #bbbbbb;
    padding: 20px;
    margin-top: 20px;
    color: #000000;
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 100px;
    font-size: 32;
}

.footer_titulo{
    margin: auto;
    width: 80%;
    overflow: hidden;
}

.footer_titulo b{
    color: #E89F25;
}

.footer_titulo aside{
    width: 50%;
    padding-right: 50px;
    margin-right: 50px;
    float: right;
    text-align: right;    
}

.redes_sociales img{
    width: 15%;
}

.footer_imng_center img{
    display: flex;
    align-items: center;
    width: 25%;
}

.footer_titulo nav{
    text-align: left;
    padding-left: 70%;
}

.footer_titulo aside p{
    text-align: left;
    padding-left: 70%;
}




/* media query */
@media only screen and (max-width: 768px){
    header{
        padding-bottom: 20px;
    }
    header #logo,
    header nav,
    header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
    header li{
        padding: 0 16px;
    }
    header{
        padding-bottom: 25px;
    }
    header ul{
        padding-top: 10px;
    }
    header #logo h1{
        font-size: 25px;
    }
    header a{
        font-size: 12px;
    }
}

/*Estilo de Perfil.html*/

#Persona {
    display: flex;
    margin: auto;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #401C00;
}

.Persona__Icon {
}

.Persona__Icon img {
    max-height: 300px;
    border-radius: 50%;
    max-width: max-content;
}

.Persona__Info {
    border-radius: 25px;
    background-color: #dddddd;
    max-width: 60%;
    height: auto;
    padding: 15px;
}

#Recipes {
    display: flex;
    margin: auto;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}
h3 {
    padding-left: 5%;
    font-size: 20px;
}

.recipes__imagen img {
border-radius: 25px;
max-width: 100%;
max-width: 300px;
}

.recipes__info {
    max-width: 95%;
    height: auto;
    padding: 15px;
}

.recipes__info h6 {
    font-size: 18px;
}

.recipes__info p {
    font-weight: 600;
}

.recipes__container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    justify-content: space-between;
}

.recipes__container__general {
    display: flex;
    margin: auto;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.recipes__container__button {
    justify-content: space-between;
}

.recipes__container__button button {
    background-color: #E89F25;
    border-radius: 25px;
    border-style: none;
    padding: 10px 20px;
    font-size: 18px;
}

#Recipes h3 {
    border: #000000 solid 1px;
    float: left;
}

#tips {
    display: flex;
    margin: auto;
    width: 90%;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

.tips__image img {
    min-width: 100px;
    max-width: 300px;
    border-radius: 25px;
}

.tips__info {
    padding: 50px;
    max-width: 60%;
    padding: 15px;
    font-size: 16px;
    font-weight: 550;
}

.tips__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tips__container__column {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    justify-content: space-between;
}

.tips__container__column__button {
    justify-content: space-between;
}

.tips__container__column__button button {
    background-color: #E89F25;
    border-radius: 25px;
    border-style: none;
    padding: 10px 20px;
    font-size: 18px;
}

#saves {
    display: flex;
    margin: auto;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

.saves__recipe img {
    max-width: 300px;
    border-radius: 25px;
}

.saves__recipe button {
    background-color: #E89F25;
    border-radius: 25px;
    border-style: none;
    padding: 10px 20px;
    font-size: 18px;
}

/*Home Page*/

#HomeSearch {
    width: 90%;
    margin: 0 auto;
    padding: 60px o;
    max-width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: #000000 solid;
}

.HomeSearch__Searchtab {
    display: flex;
    width: 90%;
    margin: 40px auto;
    margin-bottom: 0px;
    padding: 5px 15px;
    height: auto;
    align-items: center;
    justify-content:space-between;
    background-color: #ffffff;
    border-radius: 25px;
}

.HomeSearch__Searchtab__Icon {
} 

.HomeSearch__Searchtab__Input {
    width: 80%;
    border: none;
}

.HomeSearch__Searchtab__Button {
    border-radius: 25px;
    border: none;
    background-color: #E89F25;
    width: 10%;
    height: 30px;
}

.HomeSearch__Populartags p {
    font-size: 11px;
}

.HomeSearch__PostRecipe {
    display: flex;
    flex-direction: row;
    width: 20%;
    margin: 20px 0;
    border: #000000 solid;
    border-radius: 15px;
}

.HomeSearch__PostRecipe__Icon {
    margin: 5px;
    align-self: center;
}

.HomeSearch__PostRecipe__Text {
    align-self: center;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
}

.HomeSearch__WebNews {
width: 90%;
}

.HomeSearch__WebNews__Image img {
    max-width: 100%;
}

#RecipeOTD {
    display: flex;
    margin: auto;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

.RecipeOTD__recipe img {
    max-width: 300px;
    border-radius: 25px;
}

.RecipeOTD__recipe button {
    background-color: #E89F25;
    border-radius: 25px;
    border-style: none;
    padding: 10px 20px;
    font-size: 18px;
}

#Categories {
    display: flex;
    margin: auto;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

.Categories__recipe img {
    max-width: 300px;
    border-radius: 25px;
}

.Categories__recipe button {
    background-color: #E89F25;
    border-radius: 25px;
    border-style: none;
    padding: 10px 20px;
    font-size: 18px;
}

.pen {
    max-width: 635px;
    width: 100%;
    margin: 50px auto 0;
    opacity: 0;
    position: relative;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-animation: 1s appear 1 forwards;
    -moz-animation: 1s appear 1 forwards;
    -o-animation: 1s appear 1 forwards;
    animation: 1s appear 1 forwards;
  }
  
  .stage {
    max-width: 635px;
    width: 100%;
    height: 400px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .element {
    background: green;
    width: 202px;
    -webkit-transform-origin: 50% 50%;
    height: inherit;
    margin: 0 7px 0 0;
    display: inline-block;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .element.active {
    width: 282px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .element.inactive {
    width: 162px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    opacity: 0.4;
  }
  .element.recipe1 {
    background: url('/Images/ExampleImage.jpg') 45% 0 no-repeat;
    background-size: cover;
  }
  .element.recipe2 {
    background: url('/Images/ExampleImage.jpg') 45% 0 no-repeat;
    background-size: cover;
  }
  .element.recipe3 {
    background: url('/Images/ExampleImage.jpg') 45% 0 no-repeat;
    background-size: cover;
  }
  
  .element:last-of-type {
    margin: 0;
  }
  @media all and (max-width: 660px) {
    .pen {
      max-width: 335px;
    }
    .element {
      width: 101px;
    }
    .element.inactive {
      width: 61px;
    }
    .element.active {
      width: 181px;
    }
    .stage {
      max-width: 335px;
    }
  }
  @-webkit-keyframes appear {
    15% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes appear {
    15% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes appear {
    15% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes appear {
    15% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h3 {
    text-align: center;
  }

/*Help

div {
    border: #000000 solid 1px;
}

section {
    border: #000000 solid 1px;
}*/