#buscador {
    width: 50%;
    margin: 20px auto 20px auto;
    padding: 10px;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
}
#lupa, #buscado, #buscar {
    height: 100%;
}
#resultado {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    gap: 10px;
    background-color: #f7f7f7;
    justify-content: space-evenly;
}
.receta{
    height: auto;
    width: auto;
    margin: 5px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    gap: 10px;
}
.receta a{
    text-decoration: none;
    color: #000;
}
.foto {
    min-width: 100px;
    max-width: 150px;
    height: auto;
    border-radius: 20%;
}
.puntaje {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.puntaje img{
    height: 16px;
    width: 16px;
    margin-right: 2px;
}
#somos {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 20px;
    align-items: center;
}
#somos * {
    margin: 10px;
}
#somos div img {
    width: 100%;
}
#somos1 {
    order: 1;
}
#somos2 {
    order: 2;
}
#somos3 {
    order: 3;
    width: 25%;
}
#somos4 {
    order: 4;
}
#somos5 {
    order: 6;
}
#somos6 {
    order: 5;
    width: 10%;
}
#somos7 {
    order: 7;
}
#somos8 {
    order: 8;
}
#somos1, #somos4, #somos7, #somos8 {
    width: 100%;
}
#somos2, #somos5 {
    width: 70%;
}